.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


html, body, #root, .App {
    height: 100%;
}


.bg-darkBlue
{
  background-color: #303C63;
}

.homeContainer
{
  height: 100%;
}

.loginContainer
{
    background-image: url(./media/background1.png);
    background-size: 200%;
    display: inline-block;
    padding: 10% 10% 45%;
    margin-top: 0;
    position: relative;
    float: right;
    width: 55%;
    height: 95%;
    border-left: 1px solid #000000;
    box-sizing: border-box;

    align-content: center;
    text-align: center;
}



.loginItem
{
    padding-bottom: 5%;
    color: green;
}


.aboutContainer
{
  display: inline;
  float: left;
  margin-top: 10%;
  margin-left: 4%;
  margin-right: 1%;
  width:40%;
}

.darkTextBox
{
    margin-top: 5%;
    color: #FFFFFF;
    background-color: #303C63;
    font-size: x-large;
    text-align: center;
    width: 90%;
    border-radius: 12px;

}

.fittedImage
{
    width: 90%;
    height: 90%;
}

.logoImage
{
    width: 40px;
    height: 40px;
    margin-top: -5%;
}
/* Login Page */
.regLink {
    color: black;
    font-size: 20px;
    width: 90%;
    opacity: .5;
}

.regLink:hover
{
    color: red;
    font-size: 20px;
    width: 90%;
    opacity: .8;
}


.myHeader
{
    font-size: 50px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #000000;
    padding-bottom: 3%;
}

.transparentDiv
{
    opacity: .8;
}

@keyframes App-logo-spin
{
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Dashboard Welcome Text */
.DashboardWelcome
{
    font-size: 45px;
    text-align: center;
    color: #000000;
    padding-top: 0%;
    font-weight: bold;
}

/* Customer Dashboard */
.bookingList
{
  width: 55%;
  height: 700px;
    margin-left: 1%;
    display: inline-block;
  outline-style: solid;
margin-top: 2%;
  background-color: white;
}

/* Customer Dashboard */
.booking {
    font-size: medium;
    width: 95%;
    height: 15mm;
    margin-left: 5mm;
    margin-bottom: 6%;
    outline-style: solid;
    background-color: #F2F2F2;
    line-height: 55px;
}

.regFormDiv
{
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
}

/* Customer Dashboard */
.bookingCreator
{
  width: 36%;
  height: 800px;
  float: right;
  outline: solid;
  margin-right: 3%;

  background-color: white;
}

/* Customer Dashboard */
.dashboardContainer
{
  background-image: url(./media/background1.png);
  width: 100%;
  height: 100%;
  position: relative;
}

/* Customer Dashboard */
.bookingListHeader
{
    font-size: 45px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #000000;
    padding-bottom: 1%;
}


/* Worker Dashboard */
.dashboardContainer2 {
    background-image: url(./media/background3.png);
    width: 100%;
    height: 100%;
}

.adminDashboardContainer{
    background-image: url(./media/background2.png);
    width: 100%;
    height: 100%;
    position: relative;
}

/* Worker Dashboard*/
.WorkerbookingList
{
    width: 55%;
    float: left;
    height: 650px;
    outline-style: solid;
    margin-left: 23%;
    margin-top:1%;
    background-color: white;
}

/* Registration Page */
.Registration
{
    width: 60%;
    float: left;
    height: 700px;
    outline-style: solid;
    margin-left: 20%;
    margin-top:2%;
    background-color: white;
}

/* Registration Page */
.RegistrationBackground
{
    background-image: url(./media/background3.png);
    background-size: 150% 100% ;
    height: 100%;
}

/* Registration Page */
.RegistrationPageText
{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.RegistrationTextFieldWidth
{
    width: 75%;
    margin-left: 13%;
}

.availableServices
{
margin-left: 40%;
margin-top:20%;
}

.pageHeader
{
    font-size: 45px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #000000;
    padding-bottom: 3%;
}

/* Profile Page */
.profilePage
{
    width: 55%;
    float: left;
    height: 700px;
    outline-style: solid;
    margin-left: 23%;
    margin-top:2%;
    background-color: white;
}

/* Profile Page */
.profileContainer
{
    background-image: url(./media/background3.png);
    width: 100%;
    height: 100%;
    position: relative;
}

/* Profile Page */
.profileInfo
{
    font-size: 25px;
    text-align: center;
    color: #000000;
    padding-bottom: 3%;
}

/* Profile Page */
.profileText
{
    font-size: 25px;
    font-weight: bold;
}

/* Edit Profile Page */
.editProfileContainer
{
    background-image: url(./media/background1.png);
    width: 100%;
    height: 100%;
    position: relative;
}
/* Dashboard Booking Creator Page*/
.bookingCreatorDropdowns
{
    font-size: 25px;
    font-weight: bold;
    margin-top:1%;
}

/* Dashboard Booking Creator Page*/
.BookButton
{
    margin-top:2%;
}
/* Admin Dashboard View Workers Page*/
.AdminViewDashboard
{
    width: 65%;
    float: left;
    height: 650px;
    outline-style: solid;
    margin-left: 23%;
    margin-top:1%;
    background-color: white;


}

.WorkerViewDashboard
{
    width: 30%;
    float: right;
    outline-style: solid;
    margin-top:2%;
    background-color: white;
    margin-right: 10%;
}
/* Admin Dashboard View Workers Page*/
.adminViewWorker {
    width: 70mm;
    height: 28mm;
    margin-left: 7.5mm;
    margin-bottom: 6%;
    outline-style: solid;
    background-color: #F2F2F2;
    line-height: 35px;
}

/* Admin Dashboard View Worker */
.viewAllWorkersGrid
{
    display: grid;
    grid-template-columns: 300px 300px 300px ;
    grid-row-gap: 5px
}
/* Admin Dashboard View Worker */
.adminDashboardText
{
    margin-left: 7.5mm;
    margin-top: 3mm;
    font-size: medium;
    font-weight: bold;
}

/* Admin Dashboard View Services Page*/
.adminViewServices {
    width: 50%;
    height: 90%;
    margin-left: 10%;
    margin-bottom: 6%;
    outline-style: solid;
    background-color: #F2F2F2;
    line-height: 35px;
}

.workerViewServices {
    width: 50%;
    height: 100%;
    margin-left: 28%;
    margin-bottom: 10%;
    outline-style: solid;
    background-color: #F2F2F2;
    line-height: 35px;
}
/* Admin Dashboard View Service */
.viewAllServicesGrid
{
    display: grid;
    grid-template-columns: 450px 450px;
    grid-row-gap: 1%;
    grid-column-gap: .5%;
}

.availForm
{
    margin-left: 20%;
    margin-top: 5%;
    display: inline;
    float: left;
}

.availList
{
    float: right;
    margin-right: 25%;
    display: inline;
    margin-top: 5%;
    padding: 2%;
    outline-style: solid;
}

.availContainer
{
    margin-left: 10%;
    display: inline;
}











