.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

html, body, #root, .App {
    height: 100%;
}

.bg-darkBlue
{
  background-color: #303C63;
}

.homeContainer
{
  height: 100%;
}

.loginContainer
{
    background-image: url(./media/background1.png);
    background-size: 200%;
    display: inline-block;
    padding: 21% 10% 35%;
    margin-top: 0;
    position: relative;
    float: right;
    width: 55%;
    height: 95%;
    border-left: 1px solid #000000;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
}


.loginItem
{
    padding-bottom: 5%;
    color: green;
}


.aboutContainer
{
  display: inline;
  float: left;
  margin-top: 10%;
  margin-left: 4%;
  margin-right: 1%;
  width:40%;
}

.darkTextBox
{
    margin-top: 5%;
    color: #FFFFFF;
    background-color: #303C63;
    font-size: x-large;
    text-align: center;
    width: 90%;
    border-radius: 12px;
}

.fittedImage
{
    width: 90%;
    height: 90%;
}

.logoImage
{
    width: 40px;
    height: 40px;
    margin-top: -5%;
}

.regLink {
    color: black;
    font-size: x-large;
    width: 90%;
    opacity: .5;
}

.regLink:hover
{
    color: red;
    font-size: x-large;
    width: 90%;
    opacity: .8;
}

.myHeader
{
    font-size: 50px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #000000;
    padding-bottom: 10%;
}

.transparentDiv
{
    opacity: .8;
}

.wholeReg
{
    background-image: url(./media/background3.png);
    background-size: 150% 100% ;
    height: 100%;
}


@keyframes App-logo-spin 
{
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Customer Dashboard */
.bookingList
{
  width: 55%;
  float: left;
  height: 700px;
  outline-style: solid;
  margin-left: 3%;
  margin-top:2%;
}

/* Customer Dashboard */
.booking {
    font-size: medium;
    width: 95%;
    height: 15mm;
    margin-left: 5mm;
    margin-bottom: 6%;
    outline-style: solid;
    background-color: #F2F2F2;
    line-height: 55px;
}

.regFormDiv
{
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
}

/* Customer Dashboard */
.bookingCreator
{
  width: 36%;
  height: 400px;
  float: right;
  outline: solid;
  margin-right: 3%;
  margin-top:10%;
}
  
/* Customer Dashboard */
.dashboardContainer
{
  background-image: url(./media/background1.png);
  width: 100%;
  height: 100%;
  position: relative; 
}

/* Worker Dashboard */
.dashboardContainer2
{
  background-image: url(./media/background4.png);
  width: 100%;
  height: 100%;
  position: relative; 
}
  
/* Customer Dashboard */
.bookingListHeader
{
    font-size: 45px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #000000;
    padding-bottom: 3%;
}
  
.availableServices
{
margin-left: 40%;
margin-top:20%;
}
